:root {
    /* COLOR PALETTE */
    --light: #ffffff;
    --dark: #000000;
    --accent: #1600e0;
    --accent-soft: hsla(246, 100%, 44%, 0.1);
    --grey-light: #E5E5E5;
    --grey-medium: #8d8d8d;

    /* TYPOGRAPHY */
    --font-primary: "Sora", sans-serif;
    --font-secondary: "Source Code Pro", monospace;
    
    --fs-base: 1rem;       /* 16px */
    --fs-small: 0.625rem;  /* 10px - Footer */
    --fs-button: 1.25rem;  /* 20px - Buttons */
    --fs-sub: 2rem;        /* 32px - Sub Headings */
    --fs-heading: 2.5rem; /* 40px - Main Headings */
    
    --lh-base: 2;    
    --lh-tight: 1.2;

    --lsp: 1px;

    /* SPACING & SIZING */
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 2rem;
    --space-lg: 4rem;

    /* UI ELEMENTS */
    --btn-radius: 15px;
    --radius: 30px;
    --shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    
    --transition: 0.2s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

header, main, footer {
    padding: var(--space-lg);
    text-align: center;
    overflow-x: hidden;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--btn-radius);
    text-transform: uppercase;
    font-family: var(--font-secondary);
    color: var(--light);
    background-color: var(--dark);
    text-decoration: none;
    letter-spacing: var(--lsp);
    z-index: 10;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header #logo {
    display: block;
    line-height: 0;
}

header #logo img {
    width: 50px;
    height: auto;
}

header #menu-toggle {
    background: transparent;
    border: none;
    cursor: pointer;
}

header #menu-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    list-style-type: none;

    border-radius: var(--radius);
    box-shadow: var(--shadow);

    width: 80%;
    height: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: var(--space-lg);

    display: none;
}

header #menu-list li a {
    font-family: var(--font-secondary);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--dark);
    padding: var(--space-md);
    letter-spacing: var(--lsp);
}

header #menu-list li a:hover {
    font-weight: 700;
}

/* HERO */

#hero h1 {
    text-transform: capitalize;
    font-size: var(--fs-heading);
    font-weight: 600;
    line-height: var(--lh-tight);
    z-index: 10;
}

#hero p {
    line-height: var(--lh-base);
    z-index: 10;
}

.hero-text {
    gap: var(--space-md);
}

.hero-text a {
    margin-top: var(--space-md);
}

.hero-visual-anchor {
    display: grid;
    place-items: center; 
    margin: var(--space-lg) auto;
    width: 100%;
    max-width: 500px;       
    position: relative;
    transform: translateY(-25%);
}

.hero-visual-anchor picture,
.circle {
    grid-area: 1 / 1; 
}

.hero-visual-anchor picture {
    z-index: 2;
}

.hero-img {
    display: block;
    width: 100%;
    height: auto;
}

.circle {
    z-index: 1;          
    border: 1px solid var(--grey-light);
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

/* Sizing relative to the 500px anchor */
.large  { width: 250%; }
.medium { width: 175%; }
.small  { width: 100%; }



@media screen and (min-width: 700px) {
    :root {

        /* DESKTOP SCALING */
        --fs-small: 0.875rem; /* 14px */
        --fs-sub: 3rem;       /* 48px */
        --fs-heading: 4rem;   /* 96px */
        
    }
    
    h1 {
        max-width: 20ch;
    }

    p {
        max-width: 60ch;
    }

    header {
        padding: var(--space-md) 15vw;

    }

    header nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        /* Move these here for the 'pill' effect */
        background: var(--light);
        padding: var(--space-md) var(--space-lg);
        border-radius: 50em;
        box-shadow: var(--shadow);
    }

    header #menu-toggle {
        display: none;
    }

    header #menu-list {
        transform: none;
        width: auto;
        height: auto;
        box-shadow: none;

        display: flex;
        flex-direction: row;

        gap: var(--space-sm);

        position: static;
    }

    header #menu-list li a {
        font-size: var(--fs-small);
    }

    #hero { 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-visual-anchor {
        max-width: 700px;
    }

    .large  { width: 150%; }
    .medium { width: 100%; }
    .small  { width: 50%; }

}
