:root {
    --primary: #EEF0F2;
    --secondary: #141414;
    --accent-one: #EEC643;
    --accent-two: #0D21A1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk"
}

@media screen and (min-width: 1024px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header #nav-toggle {
        display: none;
    }

    header nav {
        position: static;
        transform: none;
        display: inline;
        width: auto;
    }

    header nav ul {
        flex-direction: row;
        padding: 0;
    }

    header nav ul li a {
        padding: 1rem 2rem;
    }
}